@font-face {
  font-family: "Shabnam";
  src: url("./assets/fonts/Shabnam.eot"), url("./assets/fonts/Shabnam.ttf"),
    url("./assets/fonts/Shabnam.woff"), url("./assets/fonts/Shabnam.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Shabnam" !important;
}
button{
  font-family: "Shabnam" !important;
}

.container {
  padding: 7rem 1rem;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 7rem 5rem;
  }
}
