@font-face {
  font-family: "Shabnam";
  src: url("./assets/fonts/Shabnam.eot"), url("./assets/fonts/Shabnam.ttf"),
    url("./assets/fonts/Shabnam.woff"), url("./assets/fonts/Shabnam.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Shabnam" !important;
}